.header {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-text-accent);
  font-size: 28px;
  line-height: 1.21;
  font-weight: 700;
  letter-spacing: 0.41px;
  color: var(--color-text-accent);
}
